/* this below is what sets the function app text. */
.App {
  text-align: center; /* auto-centers the css */
  background-color: #d7e1f5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* Menu Section */
.menu {
  display: none;
  grid-template-columns: .5fr .5fr;
  max-width: 900px;
  margin: 0 auto;
}
.menuItem {
  display: grid;
  grid-template-columns: 1fr .5fr;
  justify-content: space-between;
  justify-items: flex-start;

}
.menuItem p {
  margin: 10px;
}
/* ---------------------------- */

/* Manager Information */
.management {
  display: none;
  max-width: 1200px;
  margin: 0 auto;
}
.management p {
  margin-right: 10px;
}
.manager {
  display: flex;
}
.manager p {
  margin-right: 10px;
}
/* ----------------------------- */
.drinks {
  display: none;
}
/* END HIDDEN CODE */

/* Navbar */
.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr .8fr;
  align-items: flex-start;
  padding: 20px 40px 20px 0px;
}
.nav-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.nav-right p {
  margin: 10px;
}
.title {
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 350;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* end navbar */

/* Blurb */
.blurb-container {
  max-width: 850px;
  margin: 0 auto;
  padding: 0px 0px 50px 0px;
}

/* MAIN MENU */
.main-menu {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding-bottom: 50px;
}
.menu-two {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width: 80%;
}
.menu-two .item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.item p {
  margin: 10px 0px;
}

.row-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width: 80%;
}
.row-menu .row-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.row-item p {
  margin: 10px 0px;
}
/* Polling Section */
.poll-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}
.vote-section {
  margin: 10px;
}

/* Order List Tracker */
.order-container {
  margin-top: 25px;
}
.list-container {
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
